.head {
  margin-left: 20px;width: 245px;
}

.caption {
  float: left;
  width: 270px;
}

.span8 {
  width: 350px;
}

.thumb_image {
  width: 187px;
  height: 187px;
  float: left;
}

.clear {
  clear: both;
}

.margin-fix {
  margin-top: 15px;
}

.hgroup {
  text-align:center;
  margin-top: 4em;
}
